.photo-detail-container {
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 40px;
  margin: 20px;
  margin-top: 50px;
}

.photo-detail-page {
  flex: 1;
  text-align: left; /* Changed alignment */
  /* background-color: lightgray;  */
}

.photo-detail-page img {
  max-width: 100%; 
  height: auto; 
  max-height: 600px; 
}

.photo-detail-page h1 {
  margin-left: 0; /* Align title */
}

.photo-comments {
  flex: 1;
  background-color: lightgray; /* Changed background color */
  max-width: 300px; 
  padding: 20px; /* Added padding */
  margin-top: 75px;
}

.photo-comments h2 {
  margin-bottom: 20px; /* Spacing for comments heading */
}

.comment {
  margin-bottom: 20px; /* Space between comments */
  padding: 10px; /* Add padding for visual separation */
  background-color: #f0f0f0; /* Optional: add a background color */
  border-radius: 5px; /* Optional: round corners */
}
