 /* .photo-detail-container {
  display: flex; 
  justify-content: center; 
  align-items: start; 
  gap: 20px; 
  margin: 20px;
}

.photo-detail-page {
  flex: 1;
  text-align: center;
  background: none; 
}

.photo-detail-page img {
  max-width: 100%; 
  height: auto; 
  max-height: 600px; 
}

.photo-comments {
  flex: 1;
  background-color: white;
  max-width: 300px; 
}  */
