body, html {
    margin: 0;
    padding: 0;
    background-color: #fff; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: center;
  }
  
  .user-show-container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  } 
  
  .photo-gallery {
    display: grid;
    gap: 30px;
    padding: 20px; 
    width: 150vw;
    display: grid;
    display: flex;
    flex-direction: wrap;
  }
  
  .photo-gallery .photo-container {
    background-color: #f8f8f8; 
    border-radius: 4px; 
    padding: 10px;  
    display: flex; 
    height: 200px; 
    overflow: hidden; 
  }
  
  .photo-gallery img {
    max-width: 100%;
    max-height: 100%; 
    display: block; 
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
  }

body, html {
    margin: 0;
    padding: 0;
    background-color: #fff; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
  }

  .banner {
    width: 1950px; 
    height: 10px;
    justify-content: start; 
    overflow: hidden;  
  }
  
  .banner img {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
  
  .user-show-container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  } */
  
  .photo-gallery {
    display: grid;
    gap: 20px;
    padding: 20px; 
    background-color: #fff; 

  } 
  
  .photo-gallery .photo-container {
    background-color: #f8f8f8; 
    border-radius: 4px; 
    padding: 10px; 
    display: flex; 
    height: 200px; 
    overflow: hidden; 
  }
  
  .photo-gallery img {
    max-width: 100%;
    max-height: 100%; 
    display: block; 
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header-logo {
    color: white;
    font-size: 24px; 
    text-align: left;
    padding-left: 10px; 
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header-logo {
    color: white;
    font-size: 24px; 
    text-align: left;
    padding-left: 10px; 
  }