/* body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/flittr\ background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
} */


/* .header {
  width: 100%;
  background-color: black;
  padding: 10px 0;
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
}

.header-logo {
  color: white;
  font-size: 24px; 
  text-align: left;
  padding-left: 10px; 
}

.form-title {
  font-size: 24px; 
  color: #333; 
  text-align: center;
  margin: 20px 0; 
  font-weight: 600; 
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 14px;
}

form label {
  display: block;
  margin-bottom: 0.5em;
} 

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input::placeholder {
  font-style: italic;
  color: #888;
}

form button {
  background-color: #0063dc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #0046a8;
}

ul {
  color: red;
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}

.dropdown {
  position: fixed; 
  top: 10px; 
  right: 10px;
  z-index: 1000; 
}

.dropdown-icon {
  width: 40px; 
  height: 40px; 
  cursor: pointer;
} 

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

.logout-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.logout-btn:hover {
  background-color: #333;
}

nav {
  position: relative;
}


form button.demo-user {
  background-color: #4CAF50; 
}  */

