
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/flittr\ background.jpg'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif; 
  }
  
  .header {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  ul {
    color: red;
    padding-left: 0;
    list-style: none;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  form input::placeholder {
    font-style: italic;
  }
  
  form button {
    background-color: #0063dc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  form button:hover {
    background-color: #0046a8;
  }
  